In [0]:
def function():
  return print("Hi")

##Lambda function in python

In Python, a <code>lambda</code> function is a single-line function declared with no name, which can have any number of arguments, but it can only have one expression. Such a function is capable of behaving similarly to a regular function declared using the Python's <code>def</code> keyword

###Syntax :

<code>lambda arguments: expression</code>

In [0]:
#Example:
make_it_even = lambda x:x*2
print(make_it_even(3))

6

##Filter function in python
Mostly useful for filtering a list as per logic
It takes in two arguments :
1. function : where the logic is written, mostly lambda function is used
2. list : list to be modified
This function returns data of type 'filter' which is 'iterable'

###Syntax:
<code>filter(function,target_list)</code>

In [0]:
list(filter(lambda x:x%2 == 0, my_list))

[2, 0, 4]

In [0]:
# Print even numbers from the list
my_list = [1,2,0,4,5]
# Ex1:
for i in filter(lambda x:x%2 == 0, my_list):
  print(i)
# Ex2:
print(list(filter(lambda x:x%2 == 0, my_list)))

2
0
4
[2, 0, 4]

##Map function in python
Used to modify each and every element of the **iterables**

###Syntax (same as filter):

<code>map(function , iterables)</code>
returns a data of type map which can be further converted to type list , set ,etc.

In [0]:
def calculateSquare(n):
  return n*n

numbers = (1, 2, 3, 4)
result = map(calculateSquare, (i for i in range(10)))
print(list(result))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
my_list = [2,4,5,6,7]
# Ex1:
# for i in map(lambda x:x%2 == 0, my_list):
#   print(i)
# Ex2:
print(list(map(lambda x:x*2, my_list)))

[4, 8, 10, 12, 14]

## Zip function in python
The <code>zip()</code> function returns an iterator of tuples based on the iterable object.

###Syntax:
<code>zip(iterabels,...)</code> <code>#Input is optional, if no args are provided an empty iterable will be created</code>

In [0]:
numberList = [1, 2, 3]
strList = ['one', 'two', 'three','four']

for i in zip(numberList,strList):
  print(i)

(1, 'one')
(2, 'two')
(3, 'three')

In [0]:
numberList = [1, 2, 3]
strList = ['one', 'two', 'three']

# No iterables are passed
result = zip()

# Converting itertor to list
resultList = list(result)
print(resultList)

# Two iterables are passed
result = zip(numberList, strList)

# Converting itertor to set
resultSet = set(result)
print(resultSet)

[]
{(3, 'three'), (2, 'two'), (1, 'one')}

##Enumerate function in python

The enumerate() method adds counter to an iterable and returns it. The returned object is a enumerate object.This enumerate object can further be converted into list,tuple,set etc.

###Syntax:
<code>enumerate(iterable,start = 0)</code>

In [0]:
strList = ['one', 'two', 'three']
for i in enumerate(strList,start = 10):
  print(list(i))

[10, 'one']
[11, 'two']
[12, 'three']

###Error Handling

Most basic syntax:



```
try:
    # some statements here
except:
    # exception handling
```

try-except-else clause
try-except-finally clause

In [0]:
a = [-1,0,1]
try:
  for i in a:
    print(i/i-1)
except ValueError:
  print("Value error")
except ZeroDivisionError:
  print("Zero div error")
except:
  print("Default error")
finally:
  print("FInally")

0.0
Zero div error
FInally

In [0]:
raise Exception('Zero')

Exception: ignored

##File Handling

In [0]:
import os

In [0]:
os.listdir()

In [0]:
os.chdir('..')

In [0]:
os.path.join(os.getcwd(),'california_housing_test.csv')

'/content/sample_data/california_housing_test.csv'

In [0]:
for i in os.walk('.'):
  print(i)

('.', ['.config', 'sample_data'], [])
('./.config', ['logs', 'configurations'], ['config_sentinel', 'active_config', 'gce', '.last_survey_prompt.yaml', '.last_update_check.json', '.metricsUUID'])
('./.config/logs', ['2019.11.15'], [])
('./.config/logs/2019.11.15', [], ['16.31.27.707063.log', '16.31.11.336354.log', '16.31.06.249545.log', '16.31.22.131802.log', '16.31.26.675235.log'])
('./.config/configurations', [], ['config_default'])
('./sample_data', [], ['anscombe.json', 'README.md', 'mnist_test.csv', 'california_housing_train.csv', 'mnist_train_small.csv', 'california_housing_test.csv'])

##Object Oriented programming in python

1. Class declaration
2. Objects

In [0]:
class Car:
  carType = 'LMV'
  def __init__(self,model,year):
    self.model = model
    self.year = year
    print('Class instantiated')
    self.showPrice(year)
  def showPrice(self,showYear):
    self.showYear = showYear
    if self.model.lower() == 'mercedes':
      print("The price for {} is {} in year {}".format(self.model, 160000,self.year))

obj = Car('Mercedes',1990)

Class instantiated
The price for Mercedes is 160000 in year 1990

In [0]:
# parent class
class Bird:
    
    def __init__(self):
        print("Bird is ready")

    def whoisThis(self):
        print("Bird")

    def swim(self):
        print("Swim faster")

# child class
class Penguin(Bird):

    def __init__(self):
        # call super() function
        super().__init__()
        print("Penguin is ready")

    def whoisThis(self):
        print("Penguin")

    def run(self):
        print("Run faster")

peggy = Penguin()
peggy.whoisThis()
peggy.swim()
peggy.run()

Bird is ready
Penguin is ready
Penguin
Swim faster
Run faster